form{
    padding: 20px;
    background-color: lightslategray;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}
body{
    background-color: darkgray;
}
#resultsDiv{
    background-color: honeydew;
    border-radius: 10px;
}
p{
    font-size: 20px;
    padding: 10px;
    justify-content: center;
    text-align: center;
}